x-base: &base
  mem_limit: ${MEM_LIMIT}
  restart: ${RESTART}
x-smdionenv: &smdionenv
  TZ: ${TZ}
x-smdionuid: &smdionuid
  PUID: ${PUID}
  PGID: ${PGID}
  UMASK: ${UMASK}
x-smdionenvuid: &smdionenvuid
  <<:
  - *smdionenv
  - *smdionuid
x-smdionbaseuid: &smdionbaseuid
  <<: *base
  environment:
    <<: *smdionenvuid
services:
  tautulli:
    <<: *smdionbaseuid
    container_name: tautulli
    image: lscr.io/linuxserver/tautulli
    network_mode: bridge
    ports:
    - 8181:8181
    volumes:
    - ${APPSDIR}/tautulli:/config
    healthcheck:
      test: ["CMD-SHELL", "curl -fs http://localhost:8181/ || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s
  jellyseerr:
    <<: *base
    container_name: jellyseerr
    image: fallenbagel/jellyseerr:preview-OIDC
    ports:
    - 5055:5055
    environment:
      <<: *smdionenv
      DB_TYPE: ${JELLYSEERR_DB_TYPE}
      DB_HOST: ${POSTGRES_HOST}
      DB_PORT: ${POSTGRES_PORT}
      DB_USER: ${POSTGRES_USER}
      DB_PASS: ${POSTGRES_PASSWORD}
      DB_NAME: ${JELLYSEERR_POSTGRES_DB}
    volumes:
    - ${APPSDIR}/jellyseerr:/app/config
    healthcheck:
      test: ["CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:5055/ || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 60s
