---
extends: default

rules:
  line-length:
    max: 250
    allow-non-breakable-words: true
    allow-non-breakable-inline-mappings: true
  truthy:
    allowed-values: ['true', 'false', 'yes', 'no']
  comments:
    min-spaces-from-content: 1
  braces:
    max-spaces-inside: 1
  indentation:
    spaces: 2
    indent-sequences: consistent

ignore:
  - stacks/
  - future/
  - .git/
  - vars/secrets.yaml
  - inventory.yaml
