[defaults]
retry_files_enabled = False
stdout_callback = ansible.builtin.default
result_format = yaml
forks = 20
timeout = 30
callback_whitelist = timer, profile_tasks

[connection]
pipelining = True

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=30 -o ServerAliveCountMax=10
