x-base: &base
  mem_limit: ${MEM_LIMIT}
  restart: ${RESTART}
x-env: &env
  TZ: ${TZ}
x-baseenv: &baseenv
  <<: *base
  environment:
    <<: *env
services:
  dockerproxy:
    <<: *base
    container_name: dockerproxy
    image: ${SOCKET_PROXY_IMAGE}:${SOCKET_PROXY_TAG}
    network_mode: bridge
    ports:
      - 2375:2375
    environment:
      CONTAINERS: ${DP_CONTAINERS}
      POST: ${DP_POST}
      INFO: ${DP_INFO}
      VOLUMES: ${DP_VOLUMES}
      SECRETS: ${DP_SECRETS}
      IMAGES: ${DP_IMAGES}
      NETWORKS: ${DP_NETWORKS}
      ALLOW_RESTARTS: ${DP_ALLOW_RESTARTS}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    privileged: true
  beszel-agent:
    <<: *base
    container_name: beszel-agent
    image: ${BESZEL_AGENT_IMAGE}:${BESZEL_AGENT_TAG}
    network_mode: host
    labels:
      homelab.backup.paths: "/opt/beszel_socket"
      homelab.test.skip_health: "true"
    volumes:
      - ${APPSDIR}/beszel_socket:/beszel_socket
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      <<: *env
      LISTEN: ${BESZEL_LISTEN}
      KEY: ${BESZEL_KEY}
  dozzle-agent:
    <<: *baseenv
    container_name: dozzle-agent
    image: ${DOZZLE_IMAGE}:${DOZZLE_TAG}
    network_mode: bridge
    ports:
      - 7007:7007
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    command: agent
    profiles: ["agent"]
  dozzle:
    <<: *base
    container_name: dozzle
    image: ${DOZZLE_IMAGE}:${DOZZLE_TAG}
    network_mode: bridge
    ports:
      - 8081:8080
    environment:
      <<: *env
      DOZZLE_LEVEL: ${DOZZLE_LEVEL}
      DOZZLE_REMOTE_AGENT: ${DOZZLE_REMOTE_AGENT}
      DOZZLE_HOSTNAME: ${DOZZLE_HOSTNAME}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    profiles: ["hub"]
