# Managed by Ansible — build_pve.yaml
# Proxmox VE no-subscription repository (free updates without enterprise license).
# Replaces the default pve-enterprise.list which requires a paid subscription.
deb http://download.proxmox.com/debian/pve {{ pve_debian_release | default('bookworm') }} pve-no-subscription
